/* src/App.css */
.ball-1 {
  background-color: #ea80e6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 330px;
  left: -460px;
  animation: ball-1 4s infinite;
  position: relative;
}

.ball-2 {
  background-color: #d7ef41;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 309px;
  right: 153px;
  animation: ball-2 2s infinite;
  position: relative;
}

.ball-3 {
  background-color: #ea80e6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 289px;
  left: 155px;
  animation: ball-3 3s infinite;
  position: relative;
}

.ball-4 {
  background-color: #fc7739;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 269px;
  left: 461px;
  animation: ball-4 5s infinite;
  position: relative;
}

.ball-5 {
  background-color: #d354a5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -435px;
  left: 1px;
  animation: ball-5 3s infinite;
  position: relative;
}

.ball-6 {
  background-color: #d354a5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -455px;
  left: 1px;
  animation: ball-6 4s infinite;
  position: relative;
}

.ball-7 {
  background-color: #d354a5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -475px;
  left: 1px;
  animation: ball-7 4s infinite;
  position: relative;
}

@keyframes ball-1 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 50px);
  }
  85% {
    transform: translate(460px, 50px);
  }
  100% {
    transform: translate(460px, 130px);
  }
}

@keyframes ball-2 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 50px);
  }
  85% {
    transform: translate(155px, 50px);
  }
  100% {
    transform: translate(155px, 130px);
  }
}

@keyframes ball-3 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 50px);
  }
  85% {
    transform: translate(-155px, 50px);
  }
  100% {
    transform: translate(-155px, 130px);
  }
}

@keyframes ball-4 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 50px);
  }
  85% {
    transform: translate(-460px, 50px);
  }
  100% {
    transform: translate(-460px, 130px);
  }
}

@keyframes ball-5 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 80px);
  }
  85% {
    transform: translate(-304px, 80px);
  }
  100% {
    transform: translate(-304px, 130px);
  }
}

@keyframes ball-6 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 130px);
  }
}

@keyframes ball-7 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 80px);
  }
  85% {
    transform: translate(304px, 80px);
  }
  100% {
    transform: translate(304px, 130px);
  }
}