.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ball-1 {
  background-color: #ea80e6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 39%;
  left: 19.5%;
  animation: ball-1 4s infinite;
}

.ball-2 {
  background-color: #d7ef41;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 39%;
  left: 39.4%;
  animation: ball-2 2s infinite;
}

.ball-3 {
  background-color: #ea80e6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 39%;
  right: 39.4%;
  animation: ball-3 3s infinite;
}

.ball-4 {
  background-color: #fc7739;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 39%;
  right: 19.4%;
  animation: ball-4 5s infinite;
}

.ball-5 {
  background-color: #d354a5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 78%;
  right: 49.3%;
  animation: ball-5 3s infinite;
}

.ball-6 {
  background-color: #d354a5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 78%;
  right: 49.3%;
  animation: ball-6 4s infinite;
}

.ball-7 {
  background-color: #d354a5;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 78%;
  right: 49.3%;
  animation: ball-7 4s infinite;
}

@keyframes ball-1 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 50px);
  }
  85% {
    transform: translate(454px, 50px);
  }
  100% {
    transform: translate(454px, 130px);
  }
}

@keyframes ball-2 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 50px);
  }
  85% {
    transform: translate(153px, 50px);
  }
  100% {
    transform: translate(153px, 130px);
  }
}

@keyframes ball-3 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 50px);
  }
  85% {
    transform: translate(-153px, 50px);
  }
  100% {
    transform: translate(-153px, 130px);
  }
}

@keyframes ball-4 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 50px);
  }
  85% {
    transform: translate(-454px, 50px);
  }
  100% {
    transform: translate(-454px, 130px);
  }
}

@keyframes ball-5 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 80px);
  }
  85% {
    transform: translate(-304px, 80px);
  }
  100% {
    transform: translate(-304px, 130px);
  }
}

@keyframes ball-6 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 130px);
  }
}

@keyframes ball-7 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 80px);
  }
  85% {
    transform: translate(304px, 80px);
  }
  100% {
    transform: translate(304px, 130px);
  }
}